body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/swirl_pattern.png");
    margin-bottom: 100px;
}

p {
    line-height: 150%;
}

#headerBg {
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    background-color: #FF4646;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #FF4646;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.nav-link {
    color: #777777;
    text-decoration: none;
}

.nav-link:visited {
    color: #777777;
}

.nav-link:hover {
    color: #FF4646;
}

hr {
    height: 2px;
    background-color: #dddddd;
    border: none;
}

#about-container {
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-top: 40px;
}

#my-pic {
  border-radius: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 7px solid #FF4646;
}

/*PROJECTS SECTION*/
.info-container {
  background-color: rgba(41, 41, 41, .75);
  position: absolute;
  height: 300px;
  top: 76%;
  transition-duration: .5s;
  text-align: left;
  width: 100%
}

.info-container:hover, .info-container:active {
  top: 0;
}

.portfolioImageBanner {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: #FF4646;
  color:#ffffff;
}

.description {
  position: relative;
  top: 60px;
  color: white;
  padding: 15px;
}

.project-card {
  background-color: pink;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.project-image {
  border-radius: 10px;
  width: 100%;
} 

.project-link {
  color: #FFB5B5;
  text-decoration: none;
}

.project-link:visited {
  color: #99cccc;
}

.project-link:hover {
  color: #FF4646;
}

/*CONTACT PAGE*/
#contact-container {
  background-color: #ffffff;
  margin-top: 40px;
}

i {
  font-size: 3em;
}

.contact-link {
  color: #777777;
  text-decoration: none;
}

.contact-link:visited {
  color: #777777;
}

.contact-link:hover {
  color: #FF4646;
  text-decoration: none;
}