body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/swirl_pattern.png");
    margin-bottom: 100px;
}

p {
    line-height: 150%;
}

#headerBg {
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    background-color: #FF4646;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #FF4646;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.nav-link {
    color: #777777;
    text-decoration: none;
}

.nav-link:visited {
    color: #777777;
}

.nav-link:hover {
    color: #FF4646;
}

.nav-link:active {
    color: green;
}

hr {
    height: 2px;
    background-color: #dddddd;
    border: none;
}

#aboutMeContainer {
    background-color: #ffffff;
    margin-bottom: 40px;
}

#my-pic {
  border-radius: 30px;
}

section {
    background-color: #ffffff
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 7px solid #FF4646;
}

/*PORTFOLIO PAGE*/
#projects-container {
  background-color: #ffffff;
}

.info-container {
  background-color: rgba(41, 41, 41, .75);
  position: absolute;
  height: 300px;
  width: 95%;
  bottom: -245px;
  transition-duration: .5s;
  overflow: hidden;
}

.info-container:hover {
  bottom: -62px;
  border-radius: 10px;
}

.portfolioImageBanner {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: #FF4646;
  color:#ffffff;
}

.description {
  position: relative;
  top: 60px;
  color: white;
  padding: 15px;
}

.project-card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: inherit;
}

.project-card img {
  width: 95%;
  border-radius: 10px;
}

.project-link {
  color: #FFB5B5;
  text-decoration: none;
}

.project-link:visited {
  color: #99cccc;
}

.project-link:hover {
  color: #FF4646;
}

.project-link:active{
  color: green;
}

/*CONTACT PAGE*/
i {
  font-size: 3em;
}

.contact-link {
  color: #777777;
  text-decoration: none;
}

.contact-link:visited {
  color: #777777;
}

.contact-link:hover {
  color: #FF4646;
  text-decoration: none;
}