html{
    height: 100%;
}

body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/swirl_pattern.png");
    margin-bottom: 100px;
}

p{
    line-height: 150%;
}

#headerBg{
    background-color: #ffffff;
}

h1{
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

a:link {
    color: #4aaaa5;
}

nav a:link {
    color: #777777;
    text-decoration: none;
}

nav a:visited {
    color: #777777;
}

nav a:hover, a:hover{
    color: #4aaaa5;
}

nav a:active, a:active{
    color: green;
}

hr{
    height: 2px;
    background-color: #dddddd;
    border: none;
}

section{
    background-color: #ffffff;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 7px solid #4aaaa5;
}

/*PORTFOLIO PAGE*/
.portfolioImageBanner{
    position: absolute; 
    bottom: 15px; 
    width: 300px; 
    background-color: #4aaaa5;
    color:#ffffff;
}